@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');



body{
    font-family: 'Josefin Sans', sans-serif;
    height:100%;
    width:100%;
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
    height:100%;
    width:100%;
    margin: 0;
    padding:0;
}

p{
    color: rgb(85, 85, 85);
}

a, button{
    transition: all 200ms ease;
}

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: bisque;
}

/* 0.5rem = 8 px */
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}


a:hover{
    color: coral;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: blue;
}

.logo{
    font-size: 2.5rem;
}

.logo:hover{
    cursor:default;
    color:crimson;
}


#mobile-nav{
    display: none;
}

.layers-menu{
    position: relative;
    display: inline-block;
}

.layers-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}


.layers-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.layers-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.layers-icon.open span:nth-child(2){
    opacity: 0;
}
.layers-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.layers-icon span:first-child{
    transform: none;
}
.layers-icon span:first-child{
    opacity: 1;
}
.layers-icon span:first-child{
    transform: none;
}

/* profile section */
.profile-text{
    font-size: 3rem;
    text-align: center;
    align-content: center;
    text-indent: 10px;
    padding: 100px;
}

.LinkedIn-icon, .Github-icon{
    height: 100px;
    width: 100px;
    padding: 20px;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.profile-picture{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    padding: 20px;
}

.profile-text{
    align-self: center;
    text-align: center;
}

.profile-text-intro{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}


.goUp{
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.up-arrow{
    height: 75px;
    width: 75px;
}

/* about section */
#about{
    color: black;
    display: flex;
    padding: 150px;
}

.about-text h1{
    font-size: 65px;
    margin-left: 3%;
    margin-top: -50px;
}

.about-text p{
    font-size: 25px;
    margin-left: 3%;
}

.about-tabs{
    margin-top: 45px;
    display: flex;
    cursor: pointer;
}

.about-tabs p{
    font-size: 30px;
}

.tabs{
    margin-right: 25px;
    margin-bottom: 30px;
    color: crimson;
    position: relative;
}

.tabs::after{
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    background: black;
    position: absolute;
}

.tabs.active-tab::after{
    width: 60%;
}

.tabs-content li{
    padding-top: 20px;
    margin-left: 3%;
    font-size: 25px;
}

.tabs-content span{
    padding-right: 25px;
    color: dodgerblue;
}

.tabs-content{
    display: none;
}

.tabs-content.active-content{
    display: block;
}


/* contact section */
#contact{
    display: flex;
    color: black;
    padding: 150px;
    height:100%;
    width:100%;
}

.contact-text h1{
    font-size: 65px;
    margin-left: 3%;
    margin-top: -50px;
}

.phone-icon, .email-icon{
    padding-top: 50px;
    height: 125px;
    width: 125px;
}